<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82930926056-bhi2utp2c8u5bg22r8impa49472bdsce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82930926056-bhi2utp2c8u5bg22r8impa49472bdsce</string>
	<key>API_KEY</key>
	<string>AIzaSyCXWmB2BT2qnT0PukktJZwT-FtaVecoegg</string>
	<key>GCM_SENDER_ID</key>
	<string>82930926056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HT6.GlobalCatch</string>
	<key>PROJECT_ID</key>
	<string>globalcatch-3da1b</string>
	<key>STORAGE_BUCKET</key>
	<string>globalcatch-3da1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82930926056:ios:fd2fa4bdc0a42be29a645d</string>
	<key>DATABASE_URL</key>
	<string>https://globalcatch-3da1b.firebaseio.com</string>
</dict>
</plist>